%p#notice= notice

%p
  %b Name:
  = @task.name
%p
  %b Description:
  = @task.description
%p
  %b Project:
  = @task.project.try(:name)
%p
  %b Done:
  = @task.done
%p
  %b Deadline:
  = @task.deadline

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
